* {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Bodoni', monospace;
    font-variant: small-caps;
    background: url('../images/HORSEbg.jpg') center;
}

p{
    font-size: 5em;
    text-align: center;
    color: rgb(147, 212, 25);
}
